= form_for @user do |f|
  = render 'shared/errors', object: @user
  .form-horizontal
    .form-group
      = f.label :username, 'User Name', class: 'control-label col-sm-2'
      .col-sm-2= f.text_field :username, class: 'form-control'
    .form-group
      = f.label :printname, 'Display Name', class: 'control-label col-sm-2'
      .col-sm-2= f.text_field :printname, class: 'form-control'
    .form-group
      = f.label :password, 'Password', class: 'control-label col-sm-2'
      .col-sm-2=  f.password_field :password, class: 'form-control'
    .form-group
      =f.file_field :photo
  .col-sm-offset-2.col-sm-10= f.submit button, class: 'btn btn-primary'
