%nav.navbar.navbar-default.navbar-fixed-top
  .container-fluid
    .navbar-header= link_to "Out With Erin", root_path, :class => 'navbar-brand'

    %ul.nav.navbar-nav
      %li= link_to 'Destinations', '#'
      %li= link_to 'Tips & Tricks', '#'
      %li= link_to 'About Us', '#'
      - if logged_in?
        %li ADMIN CONTROLS ->
        %li= link_to 'New Post', new_post_path
        %li= link_to 'Edit Categories', new_category_path
        %li= link_to 'Edit User Profile', edit_user_path(current_user)
        %li= link_to 'Log Out', logout_path
